.dropdown-menu {
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
    left: 0;
}

.dropdown-menu li {
    background-color: #1888ff;
}

.dropdown-menu li:hover {
    background: #5cabff;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}

@media screen and (max-width: 960px) {
    .dropdown-menu {
        opacity: 0;
        width: 100%;
        position: absolute;
        top: 0px;
        list-style: none;
        text-align: center;
        left: 0;
        z-index: 99;
        transition: all 0.3s ease-in-out;
        z-index: -99;


        height: 0px !important;
    }

    .dropdown-menu.mobile_active {
        opacity: 1;
        width: 100%;
        position: absolute;
        top: 80px;
        list-style: none;
        text-align: center;
        left: 0;
        z-index: 99;
        background-color: #fff !important;
        height: auto !important;
    }
}